<div class="container">
  <h2 class="about text-uppercase text-center">About her</h2><br>
    <div class="row">
      <div [@author]="enable3" class="col-lg-5 mb-1" id="auth">
        <img  class="purna mx-auto d-block"src="https://storage.googleapis.com/myweb-68fd8.appspot.com/Profile_pic.jpg"/>
      </div>
      <div class="about-content col-lg-7">
        <p>Annapurna Sharma is a short story writer, poet, editor, nutritionist, academic and book reviewer. Her maiden book of poems 'Melodic Melange - Tales in Verse' was awarded for excellence, 2019 (Pulitzer Books). Her collection of short stories 'When Jaya met Jaggu and other stories' is published by Hawakal Publishers, 2022. Currently she is on the board of editors of Muse India, literary e-journal.</p>
        <p>Her short story was shortlisted for the Twist & Twain short story contest 2021. Her poem was shortlisted for All India Poetry Competition, 2017, 2019 conducted by The Poetry Society of India. She is adjudged a Distinguished Writer (Bharat Award for Literature, 2018, Xpress Publications). Her poem about the rivers of the world, Divine Confluence was part of the speech delivered by Dr. Varsha Das, an eminent writer at a conference collaborated by South Asian University and Dhaka University on Hydro Diplomacy.</p>
        <p>Her poems, short stories and articles are forthcoming or have appeared in several national and international journals, magazines, both online and in print. She compiled an eBook, a poetry collection, Monsoon Moods, poems contributed by the members of Your Space/ Muse India.</p>
        <p>Her journey of writing started with her nutrition articles in Epics of Health, Hygiene and Pollution. She published a free eBook for children Rainy flies to the Indian Ocean. Her creativity is a mix of sweet of Bengal and spice of Andhra, places where she was brought up and presently lives.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h3 class="awards text-center">Milestones</h3><br><br>
    <div class="row">
        <div [@animation]="enable1" class="m2 col-lg-4" id="m2">
            <img src="https://storage.googleapis.com/myweb-68fd8.appspot.com/Milestone-2.png" 
            class="edit mx-auto d-block"/>
            <h4 class="text-center">Dy. Chief Editor of Muse India, literary e-journal</h4>
            <p class="text-center text-muted" style="font-weight: 600;">(2020-2022)</p>
        </div>
        <div [@animation]="enable2" class="m3 col-lg-4" id="m3">
            <img src="https://storage.googleapis.com/myweb-68fd8.appspot.com/Milestone-3.png" 
            class="user mx-auto d-block"/>
            <h4 class="text-center">Advisory Board Member of Science Shore magazine</h4>
            <p class="text-center text-muted" style="font-weight: 600;">(2020-Present)</p> 
        </div>
        <div [@animation]="enable" class="col-lg-4" id="m1">
          <img src="https://storage.googleapis.com/myweb-68fd8.appspot.com/Milestone-1.png" 
          class="edit mx-auto d-block"/>
          <h4 class="text-center">Fiction Editor of Muse India, literary e-journal</h4>
          <p class="text-center text-muted" style="font-weight: 600;">(2022-Present)</p>
      </div>
    </div>
  </div>