.about {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
.edit {
    height: 70px;
    margin-bottom: 10px;
}
.user{
    height: 60px;
    margin-bottom: 10px;
    margin-top: 7px;   
}
.awards{
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 28px;
   font-weight: bold;
   font-style: italic;
   padding-top: 30px;
}

@media only screen and (max-width: 600px) {
    .purna {
        height: 400px;
        width: 300px;
        object-fit: cover;
    }
    .m3{
        padding-bottom: 50px;
    }
    .m2{
        padding-bottom: 50px;
    }
    .about-content {
        font-family: 'Alegreya';font-size: 20px;
        font-weight: 400;
        padding: 30px;
    }
}
@media only screen and (min-width: 600px) {
    .purna {
        height: 400px;
        width: 300px;
        object-fit: cover;
    }
    .m3{
        padding-bottom: 50px;
    }
    .m2{
        padding-bottom: 50px;
    }
    .about-content {
        font-family: 'Alegreya';font-size: 20px;
        font-weight: 400;
        padding: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .purna {
        height: 400px;
        width: 300px;
        object-fit: cover;
    }
    .about-content {
        font-family: 'Alegreya';font-size: 20px;
        font-weight: 400;
        padding: 30px;
    }
}
@media only screen and (min-width: 992px) {
    .purna {
        height: 580px;
        width: 330px;
        object-fit: cover;
    }  
    .about-content {
        font-family: 'Alegreya';font-size: 20px;
        font-weight: 400;
        padding: 10px;
    } 
}
@media only screen and (min-width: 1200px){
    .purna {
        height: 600px;
        width: 400px;
        object-fit: cover;
    }   
    .about-content {
        font-family: 'Alegreya';font-size: 20px;
        font-weight: 400;
        padding: 10px;
    }
}
