p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}
.current-section {
  color: white;
  font-weight: bolder;
}
.current-section1{
  background-color: black;
}
.navbar-dark{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  cursor:pointer;
}
.navbar-brand{
  font-family:'Kadwa';
  font-size: 23px;
}

.fa {
  padding: 10px;
  font-size: 25px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-envelope {
  background: #3d3f41;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer-font {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
}

.title-font {
  font-size: large;
}